<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PowerMoneyBank</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
	<div class="adminLoginBlock">
		<div class="container-fluid">
			<div class="row justify-content-center align-items-center">
				<div class="col-auto">
					<ul>
						<li><label for="">Name</label><input type="text" name='name'></li>
						<li><label for="">Login</label><input type="text" name='login'></li>
						<li><label for="">Password</label><input type="text" name='password'></li>
						<li><div class="forBtn">
							<button>Submit</button>
						</div></li>
					</ul></div>
				</div>
			</div>
		</div>

		<div class="adminSettings">
			<div class="container-fluid">
				<div class="row justify-content-center">
					<div class="col-auto">
						<h1>Admin Settings</h1>
					</div>				
				</div>

				<div class="row justify-content-around align-items-center addProperty">	

					<div class="col-auto">
						<p><label for="">Add property</label><input type="text"><input type="checkbox"></p>
					</div>

				</div>

				<div class="row justify-content-around align-items-center addPrices">

					<div class="col-auto">
						<p><label for="">Add properties prices</label><input type="checkbox"></p>
						<ul>
							<% for(let i = 0; i < names.length; i++) {%>
								<li name=<%= names[i].name %>><label for="" ><%= names[i].name %></label><input type="number"></li>
							<% } %>
							<li name='month'><label for="">month</label><input type="number"></li>
							<li name='year'><label for="">year</label><input type="number"></li>

						</ul>
					</div>
					

				</div>

				<div class="row justify-content-around align-items-center addUsers">	
								
					<div class="col-auto">
						<p><label for="">Add users<i class="fa fa-plus userBtn"></i></label><input type="text" value='login'><input type="text" value='password'><input type="checkbox"></p>
					</div>
					<div class="col-auto">
						<div class="usersList">
							<ul></ul>
						</div>
					</div>
				</div>

				<div class="row justify-content-around align-items-center addAdmin">

					<div class="col-auto ">
						<p><label for="">Add admins</label><input type="text" value='name'><input type="text" value='login'><input type="text" value='password'><input type="checkbox"></p>
					</div>

				</div>
				<div class="row justify-content-around align-items-center">

					<div class="col-auto">
						<button>Accept settings</button>
					</div>

				</div>

			</div>
		</div>

		<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src='../script.js'></script>
		<script type="text/javascript" src='../objects.js'></script>
		<script src='../admin.js'></script>
	</body>

	</html>