<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PowerMoneyBank</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="title.css">
</head>
<body>
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-auto">
					<ul>
						<li><a href="#">Title page</a></li>
						<li><a href="#">Pay history</a></li>
						<li><a href="#">Pay money</a></li>
						<li><a href="#">Pay money finnaly</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>

	<div class="enterBlockA">
		<div class="container-fluid">
			<div class="row justify-content-center align-items-center">
				<div class="col-auto">
					<form action="POST">
						<div class="both">
							<label for="">Login</label><input type="text"><br>
							<label for="">Password</label><input type="password"><br>

						</div>
						<div class="btnBlock">
							<input type="button" value="Log in"></input>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="alertMsg">
		<div class="container-fluid">
			<div class="row justify-content-center align-items-center">
				<div class="col-auto">
					<div class="msg">
						<h4><span class='p'>Uncorrectly values&nbsp;</span><span class='smile'>:(</span></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- 	<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js'></script>
 -->
 <script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src='../script.js'></script>
	<script type="text/javascript" src='../objects.js'></script>
</body>

</html>